*.o
/src/.setup
/src/Makefile
/src/Makefile.bak
/src/bin/asm
/src/bin/buildshlib
/src/bin/curryp
/src/bin/edlib
/src/bin/joinobj
/src/bin/lmlp
/src/bin/mkiprel
/src/bin/myas
/src/bin/mycc
/src/bin/mycpp
/src/bin/mygreps
/src/bin/myld
/src/bin/mylex
/src/bin/myranlib
/src/bin/myyacc
/src/bin/unlit
/src/config.status
/src/hbc_library/P_Array_data.hi
/src/hbc_library/Trace.M
/src/hbc_library1.3/LMLbitops.hi
/src/hbc_library1.3/LMLbyteops.hi
/src/hbc_library1.3/LMLfmtf.hi
/src/hbc_library1.3/LMLgensym.hi
/src/hbc_library1.3/LMLuid.hi
/src/hbc_library1.3/LMLunsafe.hi
/src/hbc_library1.3/trace.M
/src/ilml/OK.m
/src/ilml/Option.m
/src/lib/include/OK
/src/lib/include/Option
/src/lmlc/hbc
/src/syntax/kind.c
/src/syntax/kind.h
/src/syntax/lml.h
/src/syntax/lml.tab.c
/src/syntax/ugen
/src/syntax/y.output
/src/syntax/ugendir/lex.yy.c
/src/syntax/ugendir/ugen
/src/syntax/ugendir/y.tab.c
/src/syntax/ugendir/y.tab.h
